@import "colors.css";

* {
  font-family: "JetBrainsMono Nerd Font", monospace;
  font-size: 20px;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
  box-shadow: none;
  text-shadow: none;
}

/* Bar */
window#waybar {
  background: @base;
  color: @text;
  transition: background-color 0.5s;
}

window#waybar.hidden {
  opacity: 0;
}

/* Generic module styling */
#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#tray,
#mode,
#idle_inhibitor,
#keyboard-state

/* Clock */
#clock {
  min-width: 12px;
  padding: 0px 10px;
  border-radius: 4px;
}

/* Temperature transparent */
#temperature {
  background-color: transparent;
}

/* Workspaces */
#workspaces button {
  padding: 5px 10px;
  background-color: transparent;
  color: @text;
}

#workspaces button:hover {
  background-color: @surface;
}

#workspaces button.focused {
  background-color: @surface;
  color: @accent;
  /* box-shadow: inset 0 -3px @accent; */
}

#workspaces button.urgent {
  background-color: @red;
}

/* Battery */
#battery.critical:not(.charging) {
  background-color: @red;
  animation: blink 0.5s linear infinite alternate;
}

/* Network */
#network.disconnected {
  background-color: @red;
}

/* Audio */
#pulseaudio.muted {
  background-color: @muted-bg;
  color: @muted-fg;
}

/* Tray */
#tray {
  color: @base;
}

#tray > .passive {
  -gtk-icon-effect: dim;
  color: @overlay;
}

#tray > .needs-attention {
  background-color: @red;
  color: @text;
}

/* Idle inhibitor */
#idle_inhibitor.activated {
  background-color: @muted-fg;
  color: @muted-bg;
}

/* Blink animation */
@keyframes blink {
  to {
    background-color: @text;
    color: @muted-bg;
  }
}
