
* {
  font-family: "JetBrainsMono Nerd Font", monospace;
  font-size: 21px;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
  box-shadow: none;
  text-shadow: none;
}

/* Bar */
window#waybar {
  background: #1e1e1e;
  color: #ffffff;
  transition: background-color 0.5s;
}

window#waybar.hidden {
  opacity: 0;
}

/* Generic module styling */
#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#tray,
#mode,
#idle_inhibitor,
#keyboard-state,
#scratchpad {
  padding: 5px 8px;
  background-color: #1e1e1e;
  color: #ffffff;
}

/* Clock */
#clock {
  min-width: 140px;
  padding: 0px 10px;
  border-radius: 4px;
}

/* Temperature transparent */
#temperature {
  background-color: transparent;
}

/* Workspaces */
#workspaces button {
  padding: 5px 8px;
  background-color: transparent;
  color: #ffffff;
}

#workspaces button:hover {
  background-color: #3a3a3a;
}

#workspaces button.active {
  background-color: #3a3a3a;
  /* box-shadow: inset 0 -3px #ffffff; */
}

#workspaces button.urgent {
  background-color: #b54f4f;
}

/* Battery */
#battery.critical:not(.charging) {
  background-color: #b54f4f;
  animation: blink 0.5s linear infinite alternate;
}

/* Network */
#network.disconnected {
  background-color: #b54f4f;
}

/* Audio */
#pulseaudio.muted {
  background-color: #3b3f51;
  color: #b5b4e2;
}

/* Tray */
#tray {
  color: #282a36;
}

#tray > .passive {
  -gtk-icon-effect: dim;
  color: #6272a4;
}

#tray > .needs-attention {
  background-color: #ff5555;
  color: #ffffff;
}

/* Idle inhibitor */
#idle_inhibitor.activated {
  background-color: #b5b4e2;
  color: #3b3f51;
}

/* Blink animation */
@keyframes blink {
  to {
    background-color: #ffffff;
    color: #3b3f51;
  }
}
